<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p3.service.packages.infrastructure.repository.mapper.CompositePackageMainInfoMapper">

    <resultMap id="BaseResultMap" type="com.p3.service.packages.infrastructure.repository.entity.CompositePackageMainInfoEntity">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="compositePackageCode" column="composite_package_code" jdbcType="VARCHAR"/>
            <result property="compositeMethod" column="composite_method" jdbcType="VARCHAR"/>
            <result property="compositeQuantity" column="composite_quantity" jdbcType="INTEGER"/>
            <result property="compositePackagingType" column="composite_packaging_type" jdbcType="VARCHAR"/>
            <result property="transportMethod" column="transport_method" jdbcType="VARCHAR"/>
            <result property="primaryGoodsType" column="primary_goods_type" jdbcType="VARCHAR"/>
            <result property="secondaryGoodsType" column="secondary_goods_type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,composite_package_code,composite_method,
        composite_quantity,composite_packaging_type,transport_method,
        primary_goods_type,secondary_goods_type
    </sql>
</mapper>
