<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p3.service.packages.infrastructure.repository.mapper.PackageMainInfoMapper">

    <resultMap id="BaseResultMap" type="com.p3.service.packages.infrastructure.repository.entity.PackageMainInfoEntity">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="packageCode" column="package_code" jdbcType="VARCHAR"/>
            <result property="customerCode" column="customer_code" jdbcType="VARCHAR"/>
            <result property="customerRank" column="customer_rank" jdbcType="VARCHAR"/>
            <result property="customerName" column="customer_name" jdbcType="VARCHAR"/>
            <result property="thirdPartyCode" column="third_party_code" jdbcType="VARCHAR"/>
            <result property="shippingWarehouse" column="shipping_warehouse" jdbcType="VARCHAR"/>
            <result property="destinationCountry" column="destination_country" jdbcType="VARCHAR"/>
            <result property="primaryGoodsType" column="primary_goods_type" jdbcType="VARCHAR"/>
            <result property="secondaryGoodsType" column="secondary_goods_type" jdbcType="VARCHAR"/>
            <result property="goodsValue" column="goods_value" jdbcType="DECIMAL"/>
            <result property="composited" column="composited" jdbcType="TINYINT"/>
            <result property="shippingMethod" column="shipping_method" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,package_code,customer_code,
        customer_rank,customer_name,third_party_code,
        shipping_warehouse,destination_country,primary_goods_type,
        secondary_goods_type,goods_value,composited,
        shipping_method
    </sql>
</mapper>
