<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p3.service.packages.infrastructure.repository.mapper.PackageProcessedRecordMapper">

    <resultMap id="BaseResultMap" type="com.p3.service.packages.infrastructure.repository.entity.PackageProcessedRecordEntity">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="ticketsNum" column="tickets_num" jdbcType="VARCHAR"/>
            <result property="weight" column="weight" jdbcType="DOUBLE"/>
            <result property="length" column="length" jdbcType="DOUBLE"/>
            <result property="width" column="width" jdbcType="DOUBLE"/>
            <result property="height" column="height" jdbcType="DOUBLE"/>
            <result property="volume" column="volume" jdbcType="DOUBLE"/>
            <result property="machine" column="machine" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tickets_num,weight,
        length,width,height,
        volume,machine
    </sql>
</mapper>
